* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    height: 100%;
    transition: background-color .5s;
    background-color: #ffffff;
    overflow-x: hidden;
  }
  .body {
      display: flex;
      padding-bottom: 0;

  }
  /* Side Navigation bar */
  .sidenav {
    display: flex;
    flex-direction: row-reverse;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
    border-radius: 5px;
}
.sidenavdiv {
    display: none;
    flex-direction: column;
    width: 18rem;
    height: 100%;
    background-color: #f5f6f7;
}
.search-container {
    background-color: #eff1f2;
    height: 40px;
    padding: 15px; 
}
.search-container input[type="search"] {
    width: 100%;
    height: 37px;
    text-indent: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #9fa3a6;
}
.search-container input[type="search"]::-webkit-search-cancel-button{
    display: none;
}
.search-container i {
    position: relative;
    left:226px;
    top: -30px;
    color:#9fa3a6;
}
.fa-search {
    transform: scaleX(-1);
}
.sidenavdivitems {
    padding: 0 15px 0 15px;
}
.navlinks,.navarticale,.getintouch,.copyrightnav {
    padding: 45px 0 30px 0;
}
.getintouch h3 {
    padding-bottom: 38px;
}
.navlinks h3 {
    padding-bottom: 30px;
    position: relative;
}

.navlinks h3::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: #f66a6c;
}
h3 {
    position: relative;
}
.getintouch h3::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 120px;
    height: 4px;
    background-color: #f66a6c;
}
.getintouch p {
    padding-top: 40px;
}
.sidenav a {
    /* border-bottom: 1px solid #9fa3a6; */
    font-size: 13px;
    padding: 12px 0 12px 0;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
  }

.navart {
    object-fit: contain;
}
.fa ,.fas {
    color: #f66a6c;
    height: 100%;
    margin-right: 17px;
}
.getintouch > p {
    display: flex;
    flex-direction: row;
    padding: 18px 0 18px 0;
}

.topmenu button {
    padding: 15px 0 0 15px;
    color: #f66a6c;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 23px;
}


  
  #main {
    transition: padding-left .5s;
    padding: 3.5rem 3.5rem 3.5rem 0;
  }
  



/* Top bar of the web page  */
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 45px;
}
.socialicon i {
    color: #80888d;
    letter-spacing:10px;
}
.topbar::after {
    content: "";
    position: absolute;
    top: 45px;
    width: 100%;
    height: 4px;
    background-color: #f66a6c;
}

.section1 {
    display: flex;
    flex-direction: row;
    padding: 60px 0 60px 0;
    /* margin: 40px 0 40px 0; */
}
.s1heading {
    padding: 0 200px 20px 0;
    font-size: 23px;
    color: #3d4449;
    
}
p {
    padding: 18px 10px 18px 0;
    font-family: "Open Sans", sans-serif;
    color: #80888d;
}
.s1text button {
    width: 137px;
    height: 37px;
    background-color: white;
    border: 2px solid #f74a4d;
    
    border-radius: 5px;
}
.s1text button>a {
    text-decoration: none;
    color: #f74a4d;
}
.s1div3 {
    width: auto;
}
.s1div3 img {
    object-fit: contain;
    width: 500px;
    height: auto;
    border-radius: 5px;
}




/* section 2  */
.section2 {
    padding: 10px 0 70px 0;
    position: relative;
}
.s2div1, .s2div2 {
    display: flex;
    padding-bottom: 50px;
}
h2 {
    padding-bottom: 45px;
    padding-top: 60px;
}
.section2 h2::after {
    content: "";
    position: absolute;
    top: 115px;
    left: 0;
    width: 160px;
    height: 3px;
    background-color: #f66a6c;
}
.productdiv {
    display: flex;
    position: relative;
}
.productdiv > i  {
 width: 200px;
 color: #f66a6c;
 top: 45px;
 left: 40px;
 font-size: 36px;
 position: relative;
}
.fa-diamond::after, .fa-paper-plane::after,.fa-rocket::after,.fa-signal::after {
    content: "";
    position: absolute;
    content:'';
    height: 76px;
    width: 76px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #80888d50;
    border-radius: 2px;
    position: absolute;
    top: -23px;
    left: -20px; 
    transform: rotate(45deg);

}
.paragraph {
    padding-right: 10px;
    padding-top: 25px;
    color: #80888d;
    font-family: "Open Sans", sans-serif;
}




/* Atricle Section  */
.articalesection {
    position: relative;
}
.articalesection h2::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 200px;
    height: 3px;
    background-color: #f66a6c;
}
.articlediv1, .articlediv2, .articlediv3 {
    display: flex;
    justify-content: space-between;
}
/* image  */
.art1 img, .art2 img, .art3 img, .art4 img, .art5 img, .art6 img {
    border-radius: 5px;
}
.art1, .art2, .art3, .art4, .art5, .art6 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.art3, .art4, .art5, .art6 {
    padding-top: 35px;
}
.art1,.art3,.art5 {
    padding-right: 40px;
    border-right: 1px solid #80888d80;
}
.art1, .art2,.art3,.art4 {
    border-bottom: 1px solid #80888d80;
}
.art2,.art4,.art6 {
    padding-left: 40px;
}

.art1 button, .art2 button,.art3 button,.art4 button,.art5 button, .art6 button, .navart button {
    width: 90px;
    height: 40px;
    color: #f74a4d;
    border-radius: 5px;
    border: 2px solid #f74a4d;
    background-color: transparent;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
bold {
    font-weight: bolder;
    color: #3d4449;

}
.editorialtext p {
    font-family: 'Roboto Slab', serif;
}

@media only screen and (max-width: 800px) {
    .sidenav{
        position: absolute;
        z-index: 1000;
    }
    #navbutton {
        font-size: 20px;
    }
    .fa-bars {
        color: #848b90;
        background-color: #e7e8ea;
        padding: 10px 18px 10px 18px;
        border-radius: 5px;
    }
    .section1 {
        flex-direction: column-reverse;
        padding-top: 40px;
    }
    .section2 {
        margin-bottom: 40px;
    }
    .s1div3 img {
        object-fit: cover;
        width: 100%;
    }
    .s2div1, .s2div2, .section2 {
        flex-direction: column;
        padding: 0;
    }
    #main {
        padding: 30px;

    }
    .productdiv {
        width: auto;
        height: 120px;
    }
    .productdiv > i {
        font-size: 23px;
    }
    .fa-diamond::after, .fa-paper-plane::after,.fa-rocket::after,.fa-signal::after {
        width: 45px;
        height: 45px;
        top: -13px;
        left: -12px;
    }
    .articlediv1, .articlediv2,.articlediv3 {
        flex-direction: column;
    }
    .art1,.art3,.art5 {
        padding: 0;
        border-right: none;
        padding-top: 35px;
        border-bottom: 1px solid #80888d80;
    }
    .art2,.art4,.art6 {
        padding: 0;
        padding-top: 35px;
        border-bottom: 1px solid #80888d80;
    }
    .art6 {
        border: none;
    }
    .s1heading {
        padding: 0;
    }
    h1 {
        font-size: 28px;
        padding-top: 30px;
    }
    .socialicon i {
        letter-spacing: 5px;
    }
    .topbar {
        height: 100px;
    }
    .editorialtext {
        display: flex;
    }
    .editorialtext p {
        padding: 50px 0 0 0;
    }
    .topbar::after {
        top: 80px;
    }
  }